/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:13px "NotoSans-Regular", sans-serif; background:#fff; color:#455e6d; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea,menu {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
p {line-height: 1.6; margin-bottom: 25px}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: "NotoSans-Bold";
    src: url("../fonts/NotoSans-Bold.eot");
    src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype"), url("../fonts/NotoSans-Bold.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-Regular";
    src: url("../fonts/NotoSans-Regular.eot");
    src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype"), url("../fonts/NotoSans-Regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-Italic";
    src: url("../fonts/notosans-italic.eot");
    src: url("../fonts/notosans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic.woff") format("woff"), url("../fonts/NotoSans-Italic.ttf") format("truetype"), url("../fonts/notosans-italic.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT_Sans-Narrow-Web-Bold";
    src: url("../fonts/PT_Sans-Narrow-Web-Bold.eot");
    src: url("../fonts/PT_Sans-Narrow-Web-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans-Narrow-Web-Bold.woff") format("woff"), url("../fonts/PT_Sans-Narrow-Web-Bold.ttf") format("truetype"), url("../fonts/PT_Sans-Narrow-Web-Bold.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT_Sans-Narrow-Web-Regular";
    src: url("../fonts/PT_Sans-Narrow-Web-Regular.eot");
    src: url("../fonts/PT_Sans-Narrow-Web-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans-Narrow-Web-Regular.woff") format("woff"), url("../fonts/PT_Sans-Narrow-Web-Regular.ttf") format("truetype"), url("../fonts/PT_Sans-Narrow-Web-Regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raavi";
    src: url("../fonts/raavi.eot");
    src: url("../fonts/raavi.eot?#iefix") format("embedded-opentype"), url("../fonts/raavi.woff") format("woff"), url("../fonts/raavi.ttf") format("truetype"), url("../fonts/raavi.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ProximaNova-Xbold";
    src: url("../fonts/ProximaNova-Xbold.eot");
    src: url("../fonts/ProximaNova-Xbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Xbold.woff") format("woff"), url("../fonts/ProximaNova-Xbold.ttf") format("truetype"), url("../fonts/ProximaNova-Xbold.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
    background: url('../images/bg_inner_page.jpg') no-repeat #25292D;
    background-size: 100% 100%;
}
.wrapper,
.wrapper-slider,
.wrapper-inner-page,
.footer-home {
    position: relative;
    z-index: 10;
    width: 1000px;
    margin: 0 auto;
}
.wrapper,
.wrapper-inner-page {
    z-index: 7;
    min-height: 100%;
    margin-bottom: -185px;
}
.wrapper-inner-page {
    margin-bottom: -121px;
}
.empty-box-inner-page,
.empty-box-home {
    height: 185px;
    width: 100%;
}
.empty-box-inner-page {
    height: 121px;
}
    .bg-big-slider {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    .overlay-foto {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
}
    .main-logo,
    .main-logo-home {
        margin-top: 35px;
    }
    .main-logo-inner {
        margin-top: 25px;
    }
    .main-nav {
        padding-top: 45px;
        text-align: center;
    }
    .main-nav-inner {
        padding-top: 35px;
        text-align: center;
    }
        .main-nav li,
        .main-nav-inner li {
            display: inline-block;
            margin: 0 14px;
        }
            .main-nav li a,
            .main-nav-inner li a {
                color: #fff;
                font: 13px 'PT_Sans-Narrow-Web-Regular';
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;
            }
            .main-nav li a:hover,
            .main-nav-inner li a:hover {
                color: #7ecefd;
            }

    .box-call-back {
        margin-top: 25px;
    }
        .tel-header {
            margin-bottom: 5px;
            padding-left: 20px;
            font: 18px "PT_Sans-Narrow-Web-Bold";
            color: #fff;
            background: url("../images/header/tel_icon.png") no-repeat left center;
            text-align: right;
        }
        #call-back-header {
            padding: 10px 12px;
            background: none;
            color: #fff;
            font: 12px "NotoSans-Regular";
            border: 1px solid #fff;
            text-transform: uppercase;
            cursor: pointer;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    overflow: hidden;
    display: block;
    padding: 30px;
    background: #fff;
}
    .bread-crumbs {
        overflow: hidden;
        margin-bottom: 40px;
    }
        .bread-crumbs li {
            float: left;
            margin-left: 3px;
        }
        .bread-crumbs li:first-child {
            margin-left: 0;
        }
        .bread-crumbs li:first-child a:before {
            display: none;
        }
            .bread-crumbs li a {
                color: #262626;
                font: 12px "PT_Sans-Narrow-Web-Regular";
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;
            }
            .bread-crumbs li a:before {
                content: '/';
                display: inline-block;
                margin-right: 3px;
            }
            .bread-crumbs li:first-child a,
            .bread-crumbs li a:hover {
                color: #999;
            }
    .main-header-inner-page {
        font: 24px "PT_Sans-Narrow-Web-Bold";
        color: #2185c5;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .list-article-service {
        overflow: hidden;
        width: 960px;
    }
        .list-article-service li {
            overflow: hidden;
            position: relative;
            float: left;
            width: 460px;
            height: 180px;
            margin-right: 20px;
            margin-bottom: 60px;
        }
        .list-article-service li:hover .wrap-decription-article {
            border-color: #FFE5B0;
        }
        .list-article-service li:hover .count-article {
            color: #FFE5B0;
        }
            .wrap-decription-article {
                height: 90px;
                border: 4px solid #FFF4DE;
            }
                .decription-article-service {
                    float: left;
                    margin: 6px 0 0 15px;
                    width: 146px;
                }
                .count-article {
                    float: right;
                    margin: 20px 15px 0 0;
                    color: #fff4de;
                    font: 24px "Raavi";;
                }
                .count-article:before {
                    content: '/';
                    display: inline-block;
                }

            .img-article-service {
                position: absolute;
                right: 80px;
                top: 20px;
            }

        a.link-more-info {
            display: block;
            margin: 30px 0 0 20px;
            color: #49b8f9;
            font: 13px "NotoSans-Italic";
            text-decoration: none;
        }
        a.link-more-info:hover {
            color: #2185c5;
        }
            a.link-more-info:after {
                content: '»';
                display: inline-block;
                margin-left: 5px;
            }

    .top-content {
        overflow: hidden;
    }
        .wrap-menu {
            float: left;
            width: 220px;
            margin: 0 20px 20px 0;
        }
            .main-content-service {
                overflow: hidden;
                margin-bottom: 30px;
            }
                .header-black {
                    position: relative;
                    z-index: 5;
                    padding: 0 20px;
                    font: 16px "PT_Sans-Narrow-Web-Bold";
                    color: #262626;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    text-align: center;
                }
                    .header-black h2 {
                        position: relative;
                        z-index: 5;
                        display: inline-block;
                        padding: 0 20px;
                        background: #fff;
                    }
                .list-services {
                    padding: 20px 20px 20px 15px;
                    margin: -15px 0 0;
                    border: 4px solid #FFF4DE;
                }
                    .list-services li {
                        margin-bottom: 20px;
                    }
                        .list-services li a {
                            font: 13px "NotoSans-Regular";
                            text-decoration: none;
                            color: #49b8f9;
                        }
                        .list-services li a:hover {
                            color: #2185c5;
                        }
                        .list-services .active a {
                            color: #455e6d;
                        }
                    .box-foto-service {
                        position: relative;
                        margin-left: 50px;
                    }
                        .bt-mini-blue {
                            padding: 7px 12px;
                            min-width: 150px;
                            background: #2185C5;
                            text-transform: uppercase;
                            color: #fff;
                            font: 13px "PT_Sans-Narrow-Web-Bold";
                            border: none;
                            cursor: pointer;
                            letter-spacing: 2px;
                            text-decoration: none;
                            text-align: center;
                        }
                        .bt-mini-blue:hover {
                            background: #1D75AC;
                        }

                        .main-definition {
                            text-transform: uppercase;
                            color: #000;
                            font-weight: bold;
                            letter-spacing: 2px;
                        }
                    .main-foto-service {
                        overflow: hidden;
                        position: relative;
                        margin: 55px 0 45px;
                    }
                        .main-foto-service img {
                            display: block;
                        }
                        .main-foto-service p {
                            position: relative;
                            z-index: 5;
                            float: right;
                            width: 220px;
                            padding: 20px;
                            margin: -80px 60px 0 0;
                            background: #FFF4DE;
                            font-size: 12px;
                            color: #455e6d;
                        }

                .wrap-vertical-slider {
                    float: left;
                    width: 290px;
                    padding-left: 20px;
                    margin: 0 30px 50px 40px;
                    background: url("../images/content/caption.png") no-repeat left bottom;
                }

            .wrap-parag-mini-slider {
                padding: 135px 55px 25px;
                margin: -135px 0 65px;
                border: 4px solid #FFF4DE;
            }

    .box-blue,
    .box-light-green {
        width: 1000px;
        margin-left: -30px;
    }
        .header-big {
            font: 72px "ProximaNova-Xbold";
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 10px;
        }
        .box-full-width-window {
            width: 1000px;
            padding: 50px 0 5px;
            margin: -23px 0 55px;
        }
            .header-big-blue {
                float: left;
                width: 270px;
                margin: 80px 0 0 30px;
                color: #2185c5;
                font: 42px "PT_Sans-Narrow-Web-Bold";
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            .list-big-block {
                overflow: hidden;
            }
                .list-big-block li {
                    display: inline-table;
                    width: 275px;
                    margin: 0 0 60px 45px;
                }
                    .list-big-block img {
                        margin-bottom: 20px;
                    }
                    .list-big-block header {
                        margin-bottom: 12px;
                        font: 13px "PT_Sans-Narrow-Web-Bold";
                        text-transform: uppercase;
                        color: #262626;
                        letter-spacing: 2px;
                    }
                    a.more-info {
                        color: #49b8f9;
                        font: 13px "NotoSans-Regular";
                        text-decoration: none;
                    }
                    a.more-info:hover {
                        text-decoration: underline;
                    }
                    .count-items-warranty {
                        font: 30px "Raavi";
                        color: #49b8f9;
                    }
                    .count-items-warranty:before {
                        content: '/';
                        display: inline-block;
                    }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer-home {
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
}
    .scroll-icon {
        display: block;
        margin-bottom: 30px;
        padding: 58px 0;
        color: #fff;
        background: url("../images/footer/scroll_icon.png") no-repeat center;
        font: 13px "PT_Sans-Narrow-Web-Regular";
        opacity: 0.6;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 40px;
    }
    .copyright-home {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font: 13px 'PT_Sans-Narrow-Web-Regular';
        text-transform: uppercase;
        letter-spacing: 1px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SLIDER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper-slider {
    position: absolute;
    top: 42%;
    width: 100%;
    max-height: 100%;
}
    .box-main-header {
        width: 100%;
    }
        .header-company {
            color: #7ecefd;
            font: 60px "PT_Sans-Narrow-Web-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
        }
        .sub-header-company {
            display: block;
            text-align: center;
            font: 24px "PT_Sans-Narrow-Web-Bold";
            color: #fff;
        }
.wrap-inner-slider {
    position: absolute;
    top: 25%;
    width: 100%;
    max-height: 100%;
    z-index: 10;
}
    .box-inner-header {
        width: 1000px;
        margin: 0 auto;
    }
        .wrap-foto-slider-home {
            position: relative;
            float: left;
            margin-left: 50px;
        }
        .wrap-foto-slider-home:hover .bt-position-center {
            display: block;
        }
        .wrap-foto-slider-home:hover img {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

            .bt-position-center {
                position: absolute;
                left: 50%;
                top: 50%;
                display: none;
                margin: -19px 0 0 -85px;
            }
            .bt-callback-blue,
            a.bt-callback-blue {
                padding: 10px 20px;
                min-width: 150px;
                background: #2185C5;
                text-transform: uppercase;
                color: #fff;
                font: 14px "PT_Sans-Narrow-Web-Bold";
                border: none;
                cursor: pointer;
                letter-spacing: 2px;
                text-decoration: none;
                text-align: center;
            }
            .bt-callback-blue:hover {
                background: #1D75AC;
            }

        .header-inner-slider {
            float: right;
            width: 500px;
            margin: 75px 10px 0 0;
            font: 60px "PT_Sans-Narrow-Web-Bold";
            color: #7ecefd;
            text-transform: uppercase;
        }

/*----------popup------------*/
#bg-popup {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#box-popup {
    position: absolute;
    opacity: 0;
}
.wrap-popup-callback {
    background: #fff;
    border: 4px solid #218BD1;
    padding: 30px 45px;
    margin-top: 35px;
}
.show_js {
    display: block !important;
}
.icon-close_js {
    float: right;
    margin-top: 7px;
    color: #fff;
    font: 11px "PT_Sans-Narrow-Web-Bold";
    opacity: 0.6;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}
.icon-close_js:hover {
    opacity: 1;
}
.header-form-callback {
    float: left;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: "PT_Sans-Narrow-Web-Bold";
    letter-spacing: 3px;
}
    #form-header-home {
        display: none;
        width: 340px;
    }
        .description-dialog-window {
            display: block;
            width: 250px;
            margin: 0 auto 20px;
            font-size: 11px;
            font-style: italic;
            text-align: center;
            color: #626D73;
        }
        .input-callback,
        .area-comment {
            max-width: 136px;
            margin-bottom: 20px;
            padding: 5px 10px;
            background: #FFF4DE;
            border: 2px solid #FDF0D6;
            font-size: 11px;
        }
        .input-callback:focus,
        .area-comment:focus{
            border-color: #FDE2AB;
         }
        .area-comment {
            max-width: 316px;
            width: 100%;
            height: 95px;
            resize: none;
            font-size: 12px;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.no-valid-email_js {
    border-color: #DB0000;
}
.pos-rel-top {
    position: relative;
    top: 3px;
}
.mar-right-20 {
    margin-right: 20px;
}
.mar-bottom-20 {
    margin-bottom: 20px;
}
.mar-top-10 {
    margin-top: 10px;
}
.mar-left-75 {
    margin-left: -75px;
}
.width-100 {
    width: 100%;
}
.text-blue-upper {
    color: #2185c5;
    font: 13px "PT_Sans-Narrow-Web-Bold";
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 2px;
}
.color-blue {
    color: #e9f8ff;
}
.color-green {
    color: #F3FFE9;
}
.bg-blue {
    background: #e9f8ff;
}
.bg-green {
    background: #F3FFE9;
}