/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: "NotoSans-Bold";
    src: url("../fonts/NotoSans-Bold.eot");
    src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype"), url("../fonts/NotoSans-Bold.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NotoSans-Regular";
    src: url("../fonts/NotoSans-Regular.eot");
    src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype"), url("../fonts/NotoSans-Regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT_Sans-Narrow-Web-Bold";
    src: url("../fonts/PT_Sans-Narrow-Web-Bold.eot");
    src: url("../fonts/PT_Sans-Narrow-Web-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans-Narrow-Web-Bold.woff") format("woff"), url("../fonts/PT_Sans-Narrow-Web-Bold.ttf") format("truetype"), url("../fonts/PT_Sans-Narrow-Web-Bold.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT_Sans-Narrow-Web-Regular";
    src: url("../fonts/PT_Sans-Narrow-Web-Regular.eot");
    src: url("../fonts/PT_Sans-Narrow-Web-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans-Narrow-Web-Regular.woff") format("woff"), url("../fonts/PT_Sans-Narrow-Web-Regular.ttf") format("truetype"), url("../fonts/PT_Sans-Narrow-Web-Regular.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper,
.wrapper-slider {
    position: relative;
    z-index: 10;
    width: 1000px;
    margin: 0 auto;
}
.wrapper {
    z-index: 7;
    height: 100%;
}
    .bg-big-slider {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    .overlay,
    .overlay-foto {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    position: relative;
    z-index: 10;
}
    .main-logo {
        float: left;
        margin-top: 35px;
    }
    .main-nav {
        padding-top: 45px;
        text-align: center;
    }
        .main-nav li {
            display: inline-block;
            margin: 0 15px;
        }
            .main-nav li a {
                color: #fff;
                font: 13px 'PT_Sans-Narrow-Web-Regular';
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;
            }
            .main-nav li a:hover {
                color: #7ecefd;
            }

    .box-call-back {
        float: right;
        margin-top: 25px;
    }
        .tel-header {
            display: block;
            margin-bottom: 5px;
            font: 18px "PT_Sans-Narrow-Web-Bold";
            color: #fff;
            background: url("../images/header/tel_icon.png") no-repeat left center;
            text-align: right;
        }
        #call-back-header {
            padding: 10px 12px;
            background: none;
            color: #fff;
            font: 12px "NotoSans-Regular";
            border: 1px solid #fff;
            text-transform: uppercase;
            cursor: pointer;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer-home {
    position: absolute;
    bottom: 15px;
    width: 100%;
}
    .scroll-icon {
        display: block;
        margin-bottom: 30px;
        padding: 58px 0;
        color: #fff;
        background: url("../images/footer/scroll_icon.png") no-repeat center;
        font: 13px "PT_Sans-Narrow-Web-Regular";
        opacity: 0.6;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 40px;
    }
    .copyright-home {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font: 13px 'PT_Sans-Narrow-Web-Regular';
        text-transform: uppercase;
        letter-spacing: 1px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SLIDER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper-slider {
    position: absolute;
    top: 42%;
    width: 100%;
    max-height: 100%;
}
    .box-main-header {
        width: 100%;
    }
        .header-company {
            color: #7ecefd;
            font: 60px "PT_Sans-Narrow-Web-Bold";
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;
        }
        .sub-header-company {
            display: block;
            text-align: center;
            font: 24px "PT_Sans-Narrow-Web-Bold";
            color: #fff;
        }
.wrap-inner-slider {
    position: absolute;
    top: 25%;
    width: 100%;
    max-height: 100%;
    z-index: 10;
}
    .box-inner-header {
        width: 1000px;
        margin: 0 auto;
    }
        .wrap-foto-slider-home {
            position: relative;
            float: left;
            margin-left: 50px;
        }
        .wrap-foto-slider-home:hover .bt-callback-blue {
            display: block;
        }
        .wrap-foto-slider-home:hover img {
            opacity: 0.5;
        }

            .overlay-foto {
                display: none;
            }
            .bt-callback-blue {
                position: absolute;
                left: 50%;
                top: 50%;
                display: none;
                margin: -19px 0 0 -85px;
                padding: 10px 20px;
                background: #2185C5;
                text-transform: uppercase;
                color: #fff;
                font: 14px "PT_Sans-Narrow-Web-Bold";
                border: none;
                cursor: pointer;
                letter-spacing: 2px;
            }
            .bt-callback-blue:hover {
                background: #1D75AC;
            }

        .header-inner-slider {
            float: right;
            width: 500px;
            margin: 75px 10px 0 0;
            font: 60px "PT_Sans-Narrow-Web-Bold";
            color: #7ecefd;
            text-transform: uppercase;
        }